

@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Chokokutai&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
h1{
    font-family: "Chokokutai", system-ui;
    font-weight: 200;
    text-align: center;
    font-size: 100px;
    color: yellow !important;
}

body{
background-color: pink;
}
p{
    width: 400px;
    color: white;
    margin-left: 600px;
    margin-top: 400px;
    margin-bottom: 300px;
}